  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }

*{
    box-sizing: border-box;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center{
  display: flex;
  align-items: center;
}


button:disabled{
  cursor: not-allowed;
}

@media (max-width: 500px) {
  html{
    overflow: hidden;
    width: 100%;
  }  
  
  body{
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }
}