.modalScreen{
    background-color: rgba(47, 47, 47, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(1.75px);
}

.formarea{
    height: 100%;
    width: 100%;
}

.modalBox{
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    border-radius: 1vw;
}

.header{
    height: 20%;
    margin-bottom: 1.3%;
}

.title{
    font-size: 2vw;
    line-height: 2.25vw;
    letter-spacing: 0.025vw;
}

.groupName{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nameContainer{
    height: 95%;
    width: 100%;
    font-size: 1.75vw;
    line-height: 2vw;
}

.groupName_Text{
    border-radius: 22px;
    height: 70%;
    width: 70%;
    border: 2px solid rgba(204, 204, 204, 1);
    padding-left: 3%;
    margin-left: 4%;
    font-size: 1.75vw;
    line-height: 1.75vw;
    box-sizing: border-box;
  }

  .groupName_Text::placeholder{
    font-size: 1.75vw;
    color: rgba(151, 151, 151, 1);
    line-height: 1.75vw;
  }

  .colorTheme{
    width: 100%;
  }

  .colorPallete{
    width: 60%;
    margin-left: 4%;
    height: 100%;
    overflow: visible;
  }
  
  .chooseColor{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: none;
    margin: 1%;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  }

  .chooseColor:hover { 
    box-shadow: 0 0 4px rgb(45, 43, 43);
}

.chooseColor.glow{
    box-shadow: 0 0 2px black, 0 0 4px black;
    border: 0.1px rgb(0, 0, 0) solid;
}

  .chooseColorText{
    font-size: 1.75vw;
    line-height: 2vw;
}

.createButton{
    height: 13%;
    width: 97%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
.create{
    background-color: rgba(0, 31, 139, 1);
    height: 100%;
    border: none;
    border-radius: 0.8vw;
    width: 20%;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25vw;
}
.errorMessage{
    text-align: center;
    color: red;
    height: 10%;
    padding: 0;
    margin: 0;
    font-size: 0.8vw;
    line-height: 1vw;
    margin-top: -1.1%;
}



@media (max-width: 500px) {
    .modalBox{
        width: 80%;
        height: 30%;
    }
    
    .title{
        font-size: 5vw;
        line-height: 5.5vw;
        letter-spacing: 0.2vw;
    }  
    .groupName{
        height: 25%;
    }
    .nameContainer{
        font-size: 4vw;
        line-height: 4.25vw;
    }
    .groupName_Text{
        height: 90%;
        width: 65%;
        margin-left: 2%;
        font-size: 4vw;
        line-height: 4vw;
      }
      .groupName_Text::placeholder{
        font-size: 4vw;
        line-height: 4.25vw;
      }
      .chooseColor{
        height: 7vw;
        width: 7vw;
      }   
      .chooseColorText{
        font-size: 4vw;
        line-height: 4.25vw;
    }
    .createButton{
        height: 15%;
    }
    .create{
        width: 25%;
        font-size: 3.75vw;
    }
    .errorMessage{
    height: 15%;
    font-size: 1.7vw;
    line-height: 1.8vw;
    margin-top: -1%;
    }
}