.noteTab{
    position: relative;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1% 0%  1% 6%;
    margin: 1.5% 2.5%;
    cursor: pointer;
    border-radius: 22px;
}

.noteTab:hover{
  background-color: rgba(47, 47, 47, 0.17);
}

.noteTab.active{
    background-color: rgba(47, 47, 47, 0.25) !important;
    box-shadow: rgba(47, 47, 47, 0.5) !important;
  }

.noteTabTitle{
    font-size: 1.6vw;
    letter-spacing: 0.05vw;
}


@media only screen and (max-width: 425px) {
    .noteTab{
        height: 8vh;
        padding-left: 5%;
        margin: 1% 2%;
    }
        
    .noteTabTitle{
        font-size: 5.75vw;
        letter-spacing: 0.1vw;
    }
}


@media only screen and (min-width: 425px) and (max-width: 768px) {
    .noteTab{
        height: 9.5vh;
        padding-left: 5%;
        margin: 0.5% 2%;
    }
        
    .noteTabTitle{
        font-size: 2vw;
        letter-spacing: 0.05vw;
    }
}