.noteTab{
    position: relative;
    height: 13%;
    display: flex;
    align-items: center;
    padding: 2% 0%  2% 6%;
    margin: 3% 2%;
    cursor: pointer;
    border-radius: 22px;
}

.logo{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    color: rgba(255, 255, 255, 1);
    font-size: 2vw;
}

.noteTab:hover{
  background-color: rgba(47, 47, 47, 0.17);
}

.noteTab.active{
    background-color: rgba(47, 47, 47, 0.25) !important;
    box-shadow: rgba(47, 47, 47, 0.5) !important;
  }

.noteTabTitle{
    font-size: 1.8vw;
    letter-spacing: 0.025vw;
}

@media (max-width: 500px) {
    .noteTab{
        height: 12.25%;
        padding-left: 5%;
        margin: 2%;
    }
    .logo{
        height: 14vw;
        width: 14vw;
        font-size: 7vw;
    }
        
    .noteTabTitle{
        font-size: 7vw;
        letter-spacing: 0.1vw;
    }
}