.noteWindow{
    height: 100%;
    flex: 2.75;
    display: flex;
    flex-direction: column;
}

.noteWindowHeader{
    background-color: rgba(0, 31, 139, 1);
    padding-block: 0.75%;
    font-size: var(--fs-noteTab);
    color: rgba(255, 255, 255, 1);
}

.noteHeaderLogo{
    margin-inline: 2%;
}

.content{
    flex: 4;
    background-color: rgba(218, 229, 245, 1);
    padding-bottom: 2%;
    overflow-y: auto;
}
.content::-webkit-scrollbar-track{
    background-color: black;
}

.footer{
    flex: 1.75;
    background-color: rgba(0, 31, 139, 1);
}

.noteTextArea{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(165, 165, 165);
    height: 84%;
    width: 96%;
    border-radius: 5px;
    position: relative;
    line-height: 1.5;
}

.noteTextBox{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1.25%;
    resize: none;
    overflow-y: auto;
    font-size: var(--fs-text);
}

textarea:focus{
    outline: none;
}

textarea::placeholder{
    color: rgba(154, 154, 154, 1);
    font-size: var(--fs-text);
    line-height: 1.5;
}

.noteWindowSubmitButton{
    background: none;
    border: none; 
    padding: 0; 
    position: absolute;
    bottom: 12%;
    right: 2%;
    cursor: pointer;
    z-index: 100;
}
.sendButton{
    height: 100%;
    width: 100%;
}

.backButtonContainer{
    display: none;
} 

@media (max-width: 600px) {
    .noteWindowHeader{
        background-color: rgba(0, 31, 139, 1);
        padding-block: 1.75%;
        font-size: var(--fs-noteTab);
        color: rgba(255, 255, 255, 1);
    }
    .noteHeaderLogo{
    margin-inline: 4%;
    }
    .footer{
        flex: 1.25;
    }
    .noteTextArea{
        height: 80%;
        width: 92.5%;
        padding: 3%;
    }
    .noteWindowSubmitButton{
        bottom: 30%;
        right: 0;
        cursor: pointer;
    }
    .sendButton{
        height: 70%;
        width: 70%;
    }
    .backButtonContainer{
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4%;
    }
    .backButton{
        height: 1.5rem;
    }
}

@media (min-width: 600px) {
    .noteWindowSubmitButton{
        width: 3%;
        aspect-ratio: 1/1;
    }
}