.noteTab{
    position: relative;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1% 0%  1% 6%;
    margin: 1.5% 2.5%;
    cursor: pointer;
    border-radius: 22px;
}

.noteTab:hover{
  background-color: rgba(47, 47, 47, 0.17);
}

.noteTab.active{
    background-color: rgba(47, 47, 47, 0.25) !important;
    box-shadow: rgba(47, 47, 47, 0.5) !important;
  }

.noteTabTitle{
    font-size: 1.6vw;
    letter-spacing: 0.05vw;
}


@media only screen and (max-width: 600px) {
    .noteTab{
        height: 8vh;
        padding-left: 5%;
        margin: 1% 2%;
    }
        
    .noteTabTitle{
        font-size: 5.75vw;
        letter-spacing: 0.1vw;
    }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .noteTab{
        height: 9vh;
        padding-left: 5%;
        margin: 0.5% 2%;
    }
        
    .noteTabTitle{
        font-size: 3vw;
        letter-spacing: 0.1vw;
    }
}


/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .logoInactive {
        height: 11vmin;
        width: 11vmin;
        font-size: 5vw;
    }

    .logoActive {
        height: 13vw;
        width: 13vw;
        font-size: 7vw;
    }
} */


/* @media only screen and (min-width: 1200px) {
    .logoInactive {
        height: 11vmin;
        width: 11vmin;
        font-size: 5vw;
    }

    .logoActive {
        height: 13vw;
        width: 13vw;
        font-size: 7vw;
    }
} */