.logo{
    border-radius: 50%;
    margin-right: 5%;
    color: rgba(255, 255, 255, 1);
    font-size: 2vw;
}

.logoInactive{
    height: 4vw;
    width: 4vw;
}
.logoActive{
    height: 4vw;
    width: 4vw;
}

@media (max-width: 500px) {
    .logoInactive{
        height: 15vw;
        width: 15vw;
        font-size: 7.5vw;
    }
    .logoActive{
        height: 12vw;
        width: 12vw;
        font-size: 7vw;
    }
}